<!DOCTYPE html>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="col-lg-3">
            <a class="navbar-brand" asp-controller="Collection" asp-action="Index">Trying to become better</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="col-lg-6">
            <form method="get" asp-controller="Search" asp-action="Search">
                <div class="input-group">
                    <input type="search" name="searchText" class="form-control" placeholder="@Localizer["SearchItem"]" aria-label="@Localizer["SearchItem"]" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <button class="btn btn-outline-info" type="submit">@Localizer["Search"]</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-lg-1 ml-auto">
            <div class="dropdown">
                <button class="btn btn-dark dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                    @Localizer["Account"]
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                        <a class="dropdown-item" asp-controller="Account" asp-action="Login">@Localizer["Login"]</a>
                        <a class="dropdown-item" asp-controller="User" asp-action="Index" asp-route-userName="@User.Identity.Name">@Localizer["UserProfile"]</a>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <a class="dropdown-item" asp-controller="Account" asp-action="Logout" asp-route-userName="@User.Identity.Name">@Localizer["Logout"]</a>
                        }
                    </div>
                </div>
            </div>
        </nav>
        <main role="main">
            @RenderBody()
            </main>
            <hr />
            <footer id="footer" class="footer">
                <div class="container">
                    @await Html.PartialAsync("_SelectLanguagePartial")
                </div>
            </footer>
            <script src="~/js/script.js" asp-append-version="true"></script>
            @RenderSection("Scripts", required: false)
    </body>
</html>