@model CourseProjectItr.ViewModels.EditUserViewModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewBag.Title = Localizer["Title"];
}
<div class="container">
    <form asp-action="Edit" asp-controller="User">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <input type="hidden" asp-for="Id" />
        </div>
        <div class="form-group">
            <label asp-for="Email" class="control-label">@Localizer["Email"]</label>
            <input type="text" asp-for="Email" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Age" class="control-label">@Localizer["Age"]</label>
            <input type="number" asp-for="Age" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="NickName" class="control-label">@Localizer["NickName"]</label>
            <input type="text" asp-for="NickName" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="FirstName" class="control-label">@Localizer["FirstName"]</label>
            <input type="text" asp-for="FirstName" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="LastName" class="control-label">@Localizer["LastName"]</label>
            <input type="text" asp-for="LastName" class="form-control" />
        </div>
        <div class="form-group">
            <input type="submit" value="@Localizer["Save"]" class="btn btn-outline-secondary" />
        </div>
    </form>
</div>